.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--tag-color);
  gap: 0.5rem;
  border-radius: 50px;
  padding: 0.7rem 1rem;
}

.search-input {
  width: 90%;
  border: none;
  max-height: 2rem;
  background-color: inherit;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  font-size: 1.2rem;
}
