.restaurant-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

.btn-top-rated {
  border: none;
  background-color: var(--tag-color);
  border-radius: 50px;
  padding: 0.8rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .restaurant-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
